<div class="profile-block">
    <div class="container-fluid">
      <div class="row">
        <div class="profile-title-upper">Главная страница/<span>Профиль пользователя</span></div>
        <div class="profile-title">Профиль пользователя</div>
  
        <div class="profile-content">
            <div class="profile-sidebar">
                <a>Профиль пользователя</a>
            </div>  
            <div class="profile-info">
                <div class="profile-user-information">
                    <div class="profile-info-title">Персональная информация</div>
                    <div class="profile-user-wrapper">
                        <div class="profile-name">
                            <img class="user-img" src="../../../assets/img/main/user.svg" alt="">
                            Максат Исалиев
                            <img class="edit-img" src="../../../assets/img/main/change.svg" alt="">
                        </div>
                        <div class="profile-user-data">
                            <div class="user-phone">Телефон: +7 (771) 592-72-48 
                                <img class="edit-img" src="../../../assets/img/main/change.svg" alt="">
                            </div>
                            <div class="user-phone">E-mail: csmaxatic@gmail.com<span>(подтвержден)</span>
                                <img class="edit-img" src="../../../assets/img/main/change.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="address-info">
                    <div class="address-info-title">Адреса доставки</div>
                    <div class="address-user-wrapper">
                        <div class="address-item">
                            <div class="address-name">г. Астана <br> ул. Сыганак,
                                вл.2 ст.12</div>
                            <div class="address-data">
                                <div class="active-btn">Активна</div>
                            </div>
                        </div>  
                        <div class="address-item">
                            <div class="add-address">
                                <span>+</span>
                                Добавить адрес
                            </div>
                        </div>  
                    </div>
                </div>
            </div>


        </div>
      </div>
    </div>
  </div>
  
