<div class="sidebar">
    <div class="sidebar-catalog">
        <a class="sidebar-catalog-title" [routerLink]="['/catalog/audio']">Аудиотехника</a>
        <div class="sidebar-catalog-types">
            <div class="catalog-type"><a [routerLink]="['/catalog/audio']">Акустические стойки</a> </div>
            <div class="catalog-type"><a [routerLink]="['/catalog/audio']">Акустические системы</a></div>
        </div>
    </div>
    <div class="sidebar-catalog">
        <a class="sidebar-catalog-title" [routerLink]="['/catalog/smartphones']">Телефоны</a>
        <div class="sidebar-catalog-types">
            <div class="catalog-type"><a [routerLink]="['/catalog/smartphones']">Игровые контрллеры</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/smartphones']">Дроны и квадрокоптеры</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/smartphones']">Ировые приставки</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/smartphones']">Видеоигры</a></div>
        </div>
    </div>
    <div class="sidebar-catalog">
        <a class="sidebar-catalog-title" [routerLink]="['/catalog/tv']">Телевизоры и гаджеты</a>
        <div class="sidebar-catalog-types">
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Рамки для телевизоров</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Домашние кинотеатры</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Интерактивные панели</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Интерактивные доски</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Светодиодные экраны</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Сумки и чехлы для проекторов</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Крепления для проекторов</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Медиаплееры</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Телесуфлеры</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Кронштейны</a></div>
            <div class="catalog-type"><a [routerLink]="['/catalog/tv']">Проекторы</a></div>
        </div>
    </div>
</div>