<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-lines">
                <img src="../../../assets/img/main/footer-logo.svg" alt="">
                <p>Подпишитесь на последние обновления </p>
                <p>© АО «.Shop Operator» 2002—2022</p>
                <span>Политика конфиденциальности</span>
            </div>
            <div class="col-md-2 footer-lines footer-lines-2">
                <span class="line-title"> О компании </span>
                <span> <a href="#"> Документы и реквизиты </a></span>
                <span> <a href="#"> Бренды </a></span>
                <span> <a href="#"> Сотрудники </a></span>
                <span> <a href="#"> Контакты </a></span>
                <span> <a href="#"> Карьера </a></span>
            </div>
            <div class="col-md-2 footer-lines footer-lines-2">
                <span class="line-title">Клиентам</span>
                <span><a href="#">Новости </a></span>
                <span><a href="#">Как зарегестрироваться </a></span>
                <span><a href="#">Как сделать заказ </a></span>
                <span><a href="#">Способы оплаты </a></span>
                <span><a href="#">Гарантии возврата </a></span>
                <span><a href="#">Вопросы и ответы </a></span>
                <span><a href="#">Доставка и склад </a></span>
            </div>
            <div class="col-md-2 footer-lines">
                <span>Сотрудничество</span>
            </div>
            <div class="col-md-3 footer-lines footer-lines-last">
                <span><a href="#"> Ссылка на форму обратной связи со службой контроля качества</a></span>
                <div class="social-links">
                    <div class="telegram">
                        <img src="../../../assets/img/main/tg-footer.svg" alt="">
                    </div>
                    <div class="vk">
                        <img src="../../../assets/img/main/vk-footer.svg" alt="">
                    </div>
                </div>
                <span class="footer-bottom-lines">
                    <span> Время работы </span><br>
                    пн. - пт. с 7:30 до 18:00
                </span>
                <span class="footer-bottom-lines">
                    <span> Телефоны: </span> <br>
                    87715927246 <br>
                    8800553535
                </span>

                <span class="footer-bottom-lines">
                    <span> Адрес эл. почты </span> <br>
                    info@shop.kz
                </span>
            </div>
        </div>
    </div>
    <a class="top-btn" href="#">
        <img src="../../../assets/img/main/top-btn.svg" alt="">
    </a>
</footer>
