<div class="cart-block">
    <div class="container-fluid">
        <div class="row">
            <div class="cart-upper-title">
                Главная страница/<span>Корзина</span>
            </div>
            <div class="cart-title">
                Страница авторизации
            </div>

            <div class="cart-inner">
                <div class="cart-first-block">
                    <div class="cart-product">
                        <div class="cart-image">
                            <img src="../../../assets/img/main/product-img-cart.svg" alt="">
                        </div>
                        <div class="cart-name-info">
                            <div class="cart-name-title">Игровая приставка Sony PlayStation 5 + геймпад + FIFA 23 PS5</div>
                        </div>
                        <div class="cart-brand">
                            <ul>
                                <li>Артикул: 09.1890</li>
                                <li>Штрих-код: 4603743188415</li>
                                <li>Бренд: Sony</li> 
                            </ul>
                        </div>
                        <div class="cart-price">
                            <div class="cart-price-origin">
                                Цена 1 шт.
                                <span>459 000 Т</span>
                            </div>
                            <div class="cart-price-number-regulate">
                                <div class="cart-price-add">+</div>
                                <div class="cart-price-number">1</div>
                                <div class="cart-price-minus">-</div>
                            </div>
                            <div class="cart-price-overall">
                                Итого
                                <span>459 000Т</span>
                            </div>
                        </div>
                        <div class="cart-delete">
                            <div class="img-wrapper">
                                <img src="../../../assets/img/main/delete.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cart-purchase-btn">
                        <button>Оформить заказ</button>
                    </div>
                </div>
                <div class="cart-price-info-block">
                    <div class="cart-overall-price">
                        Итого
                        <span>2 754 000 Т</span>
                    </div>
                    <div class="cart-overall-details">
                        <div class="cart-detail">
                            Количество <span>6 шт.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

