<div class="product-block">
    <div class="container-fluid">
        <div class="row">
            <div class="product-title-upper">Главная страница/<span>Страница товара</span></div>
            <div class="product-title">Страница товара</div>

            <div class="product-item">
                <div class="product-img-block">
                    <img src="../../../assets/img/main/big photo.svg" alt="">
                </div>
                <div class="product-info">
                    <div class="product-name">Игровая приставка Sony PlayStation 5 + геймпад + FIFA 23 PS5</div>
                    <div class="product-price">374 000Т</div>
                    <div class="product-upper-title">Акция</div>
                    <div class="id-number">ID номер: 0305050102320</div>
                    <div class="brand-name">Бренд: <span>Sony</span></div>
                    <button>
                        <img src="../../../assets/img/main/cart-product.svg" alt="">
                        В Корзину</button>
                </div>
            </div>

            <div class="map-content">
                <div class="map-container">
                    <ya-map [center]="[51.169392, 71.449074]">
                        <ya-placemark [geometry]="[51.159392, 71.449074]"></ya-placemark>
                    </ya-map>
                </div>
            </div>
        </div>  
    </div>  
</div>  

